/* Hoja de Estilos COMMITTEES CSS ||| NO BORRAR DEL REPOSITORIO ! */

body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(assets/images/school.png);
  /*background-color: rgb(2, 4, 8);
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(https://www.skolar.mx/upload/imagen_header/skolar-COLEGIO-ALAMOS-PCOL205234-Primaria-RPNV553275.jpg);*/
  background-position: center;
  background-size: cover;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color-scheme: dark;
}

ion-icon {
  font-size: 40px;
  height: 15vh;
  color: #fff;
  cursor: pointer;
}

.committee-header {
  height: 15px;
}

.opciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-row-gap: 10px;
  grid-column-gap: 5px;
}

.committeesBlock {
  background-color: rgba(163, 163, 163, 0.753);
  text-align: center;
  margin-top: 80px;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  border-radius: 20px;
}

.BlockHeader {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.BlockText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  font-size: medium;
}

h1 {
  text-align: center;
}

.Aelements {
  text-align: center;
  padding-top: 5rem;
}

.title {
  padding-top: 5rem;
}

.SC_h1 {
  margin: 30px;
}

.GA_h1 {
  margin: 30px;
}

.G24 {
  margin: 30px;
}

.WHO {
  margin: 30px;
}

.UNICEF1 {
  margin: 30px;
}

.UNICEF2 {
  margin: 30px;
}

.COPUOS {
  margin: 30px;
}

.UNWater {
  margin: 30px;
}

.ECOSOC1 {
  margin: 30px;
}

.ECOSOC2 {
  margin: 30px;
}

.Aboutus {
  margin: 30px;
}

.schedule-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.schedule-container {
  color: #fff;
  border: 1px solid #fff;
  padding: 70px 100px;
  font-size: 20px;
  text-decoration: none;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  margin: auto;
  width: fit-content;
  display: flex;
  transition: 1s;
}

.schedule-container:hover {
  border: 1px solid #fff;
  background: #3759f2;
  transition: 1s;
}

.committees_documents {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.committees_documents_new {
  color: #fff;
  border: 1px solid #fff;
  padding: 70px 100px;
  font-size: 25px;
  text-decoration: none;
  background: transparent;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  width: fit-content;
  display: flex;
  border-radius: 15px;
  transition: 1s;
}

.committees_documents_new:hover {
  border: 1px solid #fff;
  background: #3759f2;
  transition: 1s;
}

.committees_choose {
  text-align: center;
  position: flex;
  margin: 30px;
  margin-bottom: 100px;
}

.Grade_container {
  color: #fff;
  border: 1px solid #fff;
  padding: 70px 50px;
  font-size: 20px;
  text-decoration: none;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  width: fit-content;
  display: flex;
  transition: 1s;
}

.Grade_container:hover {
  border: 1px solid #fff;
  background: #3759f2;
  transition: 1s;
}

.committees_choose2 {
  text-align: center;
  flex: 1;
  margin-top: 100px;
}

.committees_choose2 ul li {
  list-style: none;
  text-decoration: none;
  position: relative;
  padding: 8px 12px;
  margin: 20px;
}

.committees_choose2 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: larger;
}

.committees_choose2 ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #3759f2;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.committees_choose2 ul li:hover::after {
  width: 12%;
}

.mobile_documents1 a {
  display: none;
}

.mobile_backgroundpaper a {
  display: none;
}

.committees-text p {
  text-align: center;
  color: #fff;
  padding: 70px 50px;
  font-size: 20px;
  text-decoration: none;
  background: transparent;
  position: relative;
  text-align: center;
  margin: auto;
  width: fit-content;
  border-radius: 15px;
}

.committees-text footer cite {
  display: block;
  margin-bottom: 50px;
}

.AboutUs-text p {
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 70px 50px;
  font-size: 20px;
  text-decoration: none;
  background: transparent;
  position: relative;
  border-radius: 15px;
}

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .Grade_container {
    width: fit-content;
  }

  .committees_choose {
    font-size: small;
    margin-top: 30px;
  }

  .schedule-container {
    width: fit-content;
  }

  embed {
    display: none;
  }

  .committees_documents_new {
    display: none;
  }

  .mobile_backgroundpaper a {
    text-align: center;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 25px;
    font-size: 20px;
    text-decoration: none;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 100px;
    margin-top: 50px;
    text-decoration: none;
  }

  .mobile_backgroundpaper a:hover {
    text-decoration: none;
    border: 1px solid #fff;
    background: #3759f2;
    transition: 1s;
  }

  .mobile_documents1 a {
    text-align: center;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 25px;
    font-size: 20px;
    text-decoration: none;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    width: fit-content;
    display: flex;
    text-decoration: none;
    border-radius: 15px;
  }

  .mobile_documents1 a:hover {
    text-decoration: none;
    border: 1px solid #fff;
    background: #3759f2;
    transition: 1s;
  }
}
