/* Hoja de Estilos COMMITTEES CSS ||| NO BORRAR DEL REPOSITORIO ! */

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color-scheme: dark;
}

ion-icon {
  font-size: 40px;
  height: 15vh;
  color: #fff;
}

.committee-header {
  height: 15px;
}

.text-menu {
}
