/* Hoja de Estilos COMMITTEES CSS ||| NO BORRAR DEL REPOSITORIO ! */

body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(https://www.skolar.mx/upload/imagen_header/skolar-COLEGIO-ALAMOS-PCOL205234-Primaria-RPNV553275.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color-scheme: dark;
}

ion-icon {
  font-size: 40px;
  height: 15vh;
  color: #fff;
}

.committee-header {
  height: 15px;
}

.opciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-row-gap: 10px;
  grid-column-gap: 5px;
}

.committeesBlock {
  background-color: rgba(163, 163, 163, 0.753);
  text-align: center;

  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  border-radius: 20px;
}

.BlockHeader {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.BlockText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  font-size: medium;
}

a {
  text-decoration: underline;
  color: rgb(219, 223, 219);
}

a:visited {
  text-decoration: none;
  color: rgb(219, 223, 219);
}

a:hover {
  text-decoration: wavy;
  color: rgb(25, 114, 216);
}

h1 {
  text-align: center;
}

.menu-text {
}
