/* Hoja de Estilos MAIN CSS ||| NO BORRAR DEL REPOSITORIO ! */

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  color-scheme: dark;
}

title {
  display: none;
}

/* Estilo del la clase (class) header (encabezado)*/
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(https://www.skolar.mx/upload/imagen_header/skolar-COLEGIO-ALAMOS-PCOL205234-Primaria-RPNV553275.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

/* Estilo del menu de navegacion */
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

/* Estilo de la incorporacion del menu de navegacion */
.nav-links {
  flex: 1;
  text-align: right;
}

/* Estilo de la incorporacion del menu de navegacion */
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

/* Estilo de la incorporacion del menu de navegacion */
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

/* Efecto de transicion del menu de navegacion */
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #3759f2;
  display: block;
  margin: auto;
  transition: 0.5s;
}

/* Efecto de transicion del menu de navegacion */
.nav-links ul li:hover::after {
  width: 100%;
}

/* Estilo del texto central de la pagina */
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Estilo del texto central de la pagina */
.text-box h1 {
  font-size: 62px;
}

/* Estilo del texto central de la pagina */
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

/* Estilo del texto central de la pagina */
.contact-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  display: flex;
  cursor: pointer;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  width: fit-content;
  border-radius: 5px;
  transition: 0.5s;
}

/* Animacion del texto central de la pagina */
.contact-btn:hover {
  border: 1px solid #3759f2;
  background: #3759f2;
  transition: 1s;
}

/* Codigo para evitar mostrar los iconos para menu de dispositivos moviles */
ion-icon {
  display: none;
}

/* End Section 1 */

/* Set the video element to cover the entire screen */
#video-background {
  position: fixed;
  top: 1rem;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.section2 {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 3rem;
}

.section2 h1 {
  color: royalblue;
  font-size: 36px;
  font-weight: 600;
  padding: 2rem;
  /* animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both; */
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.section2 h3 {
  color: rgb(147, 51, 45);
  /* animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both; */
}

.row p {
  color: grey;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
}

.valuable-info {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  /* animation: scale-in-ver-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both; */
}

@keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0;
    opacity: 1;
  }
}

/* End Section 2 */

.section3 {
  background-color: #fff;
}

.section3 h1 {
  color: black;
  text-align: center;
  padding: 10rem;
}

.social-icons {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 1rem;
}

.social-icons img {
  width: 35px;
  height: 35 px;
  cursor: pointer;
}

/* Optimizacion de la pagina para dispositivos moviles */

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 62px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #3759f2;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  ion-icon {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .row {
    display: block;
  }
}
