.container {
  width: 100%;
  background: rgb(242, 242, 242);
  padding: 2vw 4vw;
  border-radius: 10px;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 250px;
  width: fit-content;
  display: flex;
  position: relative;
}

.container h1 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  line-height: 1.2;
  display: block;
  font-weight: 800;
  padding-bottom: 10px;
  color: #23272a;
  text-align: center;
  margin: auto;
  width: fit-content;
  display: flex;
}

.container p {
  font-family: inherit;
}

@media (max-width: 700px) {
  .container {
    width: fit-content;
  }
}
